<p>date-pipe works!</p>

<h2>{{myDate }}</h2>
<h2>{{myDate  |date : "long"}}</h2>
<h2>{{myDate  |date : "short"}}</h2>
<h2>{{myDate  |date : "medium"}}</h2>
<h2>{{myDate  |date : "full"}}</h2>

<!-- for Date Only -->
<!--
<h2>{{myDate  |date : "shortDate"}}</h2>
<h2>{{myDate  |date : "longDate"}}</h2>
<h2>{{myDate  |date : "mediumDate"}}</h2>
<h2>{{myDate  |date : "fullDate"}}</h2> -->

<!-- for Time Only -->
<!--
<h2>{{myDate  |date : "shortTime"}}</h2>
<h2>{{myDate  |date : "longTime"}}</h2>
<h2>{{myDate  |date : "mediumTime"}}</h2>
<h2>{{myDate  |date : "fullTime"}}</h2> -->

<h2>{{myDate  |date : "h"}}</h2>
<h2>{{myDate  |date : "m"}}</h2>
<h2>{{myDate  |date : "s"}}</h2>
<h2>{{myDate  |date : "a"}}</h2>
<h2>{{myDate  |date : "h:m:s:a"}}</h2>

<h2>{{myDate  |date : "d"}}</h2>
<h2>{{myDate  |date : "M"}}</h2>
<h2>{{myDate  |date : "y"}}</h2>
<h2>{{myDate  |date : "W"}}</h2>
<h2>{{myDate  |date : "w"}}</h2>


