<p>structure-directrives works!</p>

<!-- <h1 *ngIf="true" > Pray Wait And Trust </h1>

<h1 *ngIf="display; else elsePart " > Pray Wait And Trust </h1>

<ng-template #elsePart >
  <h1> Never Give up </h1>
</ng-template> -->


<!-- <div *ngIf="display; then ifPart else elsePart " > </div>

<ng-template #ifPart >
  <h1>Pray Wait And Trust  </h1>
</ng-template>
<ng-template #elsePart >
  <h1> Never Give up </h1>
</ng-template> -->

<!--
<div *ngIf="display2==='Adi;'; then ifPart else elsePart " > </div>

<ng-template #ifPart >
  <h1>Pray Wait And Trust  </h1>
</ng-template>
<ng-template #elsePart >
  <h1> Never Give up </h1>
</ng-template> -->

<!-- // Switch Case -->
<!--
<div [ngSwitch]="pizza">
   <div *ngSwitchCase="'fajita'">You have selected fajita flavour</div>
   <div *ngSwitchCase="'tikka'">You have selected tikka flavour</div>
   <div *ngSwitchCase="'cheese'">You have selected cheese flavour</div>
   <div *ngSwitchCase="'creamy'">You have selected creamy flavour</div>
   <div *ngSwitchDefault>Pizza Flavour Not Available</div>
</div> -->

  <!-- For Loop -->
<!-- <div *ngFor="let car of cars">
  <h2>{{car}}</h2>
</div> -->
<!-- <div *ngFor="let car of cars; index as i">
  <h2>{{i}}{{car}}</h2>
</div> -->
<!-- <div *ngFor="let car of cars; first as f">
  <h2>{{f}}{{car}}</h2>
</div> -->
<!-- <div *ngFor="let car of cars; last as l">
  <h2>{{l}}{{car}}</h2>
</div> -->
<!-- <div *ngFor="let car of cars; even as e">
  <h2>{{e}}{{car}}</h2>
</div> -->
<!-- <div *ngFor="let car of cars; odd as o">
  <h2>{{o}}{{car}}</h2>
</div> -->
<!-- <div *ngFor="let person of persons; index as i">
  <h1>{{i}}</h1>
  <h1> {{person.name}}</h1>
  <h1> {{person.age}}</h1>
  <h1> {{person.isMarried}}</h1>
  <br>
</div> -->
<!-- Nested For Loop -->
<!-- <ul *ngFor="let person of persons; index as i">
  <li>{{i}}</li>
  <li> {{person.name}}</li>
  <li> {{person.age}}</li>
  <li> {{person.isMarried}}</li>
  <ul *ngFor="let hobby of person.hobbies">
    <li>{{hobby}}</li>
  </ul>
  <br>
</ul> -->
<div class="bg-primary text-white text-center p-5">
  <h1>Welcome</h1>
</div>
