<p>structure-directrives works!</p>

<!-- <h1 *ngIf="true" > Pray Wait And Trust </h1>

<h1 *ngIf="display; else elsePart " > Pray Wait And Trust </h1>

<ng-template #elsePart >
  <h1> Never Give up </h1>
</ng-template> -->


<!-- <div *ngIf="display; then ifPart else elsePart " > </div>

<ng-template #ifPart >
  <h1>Pray Wait And Trust  </h1>
</ng-template>
<ng-template #elsePart >
  <h1> Never Give up </h1>
</ng-template> -->


<div *ngIf="display2==='Adi;'; then ifPart else elsePart " > </div>

<ng-template #ifPart >
  <h1>Pray Wait And Trust  </h1>
</ng-template>
<ng-template #elsePart >
  <h1> Never Give up </h1>
</ng-template>
