

<div class="container">
  <div class="row">
    <div class="col-md-4 text-white bg-secondary p-2">
      <form #myForm="ngForm" (ngSubmit)="save(myForm)">
        <div class="p-3 text-center text-white">
          <h2>Template Driven Form</h2>
        </div>
        {{myForm.value| json}}
        <hr>
        {{std| json}}
        <hr>
        <div class="form-group">
          <label for="">Enter Your Name: </label>
          <input type="text" [(ngModel)]="std.name" class="form-control"  name="name" id="" ngModel>
        </div>
        <div class="form-group">
          <label for="">Enter Your Age: </label>
          <input type="number" [(ngModel)]="std.age" class="form-control" name="age" id="" ngModel>
        </div>
        <div class="form-group">
          <label for="">Enter Your Email: </label>
          <input type="email" [(ngModel)]="std.email" class="form-control" name="email" id="" ngModel>
        </div>
        <br>
        <div class="d-grid">
          <input type="submit" value="Submit" class="btn btn-warning">
        </div>
          <br>
      </form>
    </div>
  </div>
</div>
