<h1 [style] = "'background-color:red'" >Hello World</h1>
<h1 [style] = "'backgroundColor:yellow'" >Hello World</h1>
<h1 [style] = "'background-color:red;color:white;'" >Hello World</h1>
<h1 [style] = "{'color':'orange','font-size':'50px'}" >Hello World</h1>
<h1 [style] = "myStyle" >Hello World</h1>
<h1 [style.color] = "'green'" >Hello World</h1>
<h1 [style.fontSize.px] = "'100'" >Hello World</h1>
<h1 [style.fontSize.px] = "'100'"
[style.fontStyle] = "'italic'"
>Hello World</h1>

<h1 [style.color] = "condition ? 'green' : 'orange'" >Hello World</h1>
